<h1>Transaction Details</h1>
<table>
  <tbody>
		<tr>
      <td><b>Amount:</b></td>
      <td><%= @transaction.amount %></td>
      <td><b>Transaction Type:</b></td>
      <td><%= @transaction.transaction_type %></td>
    </tr>
  </tbody>
</table>